---
layout: default
title: Hello
technologies:
  - java:
    title: Java
    url: https://www.java.com
    thumb: ./images/java.png
  - spring:
    title: Spring
    url: https://www.spring.io
    thumb: ./images/spring.png
  - jakarta:
    title: Jakarta
    url: https://jakarta.ee
    thumb: ./images/jakarta.png
  - hibernate:
    title: Hibernate
    url: https://www.hibernate.org
    thumb: ./images/hibernate.png
  - rabbitmq:
    title: RabbitMQ
    url: https://www.rabbitmq.com
    thumb: ./images/rabbitmq.png
  - aws:
    title: Amazon Web Service
    url: https://aws.amazon.com
    thumb: ./images/aws.png
  - gcp:
    title: Google Cloud Platform
    url: https://cloud.google.com
    thumb: ./images/gcloud.png
  - struts:
    title: Struts
    url: https://struts.apache.org
    thumb: ./images/struts.png
  - tomcat:
    title: Tomcat
    url: https://tomcat.apache.org
    thumb: ./images/tomcat.png
  - typeorm:
    title: TypeORM
    url: https://www.typeorm.io
    thumb: ./images/typeorm.png
  - express:
    title: Express
    url: https://www.expressjs.com
    thumb: ./images/express.png
  - apache:
    title: Apache
    url: https://www.apache.org
    thumb: ./images/apache.png
  - glassfish:
    title: GlassFish
    url: https://www.glassfish.org
    thumb: ./images/glassfish.png
  - angular:
    title: Angular
    url: https://www.angular.io
    thumb: ./images/angular.png
  - postgresql:
    title: PostgreSQL
    url: https://www.postgresql.org
    thumb: ./images/postgresql.png
  - mongodb:
    title: MongoDB
    url: https://www.mongodb.com
    thumb: ./images/mongodb.png
  - apache:
    title: Apache
    url: https://www.apache.org
    thumb: ./images/apache.png
  - eclipse:
    title: Eclipse
    url: https://www.eclipse.org
    thumb: ./images/eclipse.png
  - jetbrains:
    title: Jetbrains
    url: https://www.jetbrains.com/idea/
    thumb: ./images/jetbrains.png
  - nestjs:
    title: Nestjs
    url: https://www.nestjs.com
    thumb: ./images/nestjs.png
  - oracle:
    title: Oracle
    url: https://www.oracle.com
    thumb: ./images/oracle.png
  - html:
    title: HTML
    url: https://www.w3.org/html/
    thumb: ./images/html.png
  - css:
    title: CSS
    url: https://www.w3.org/Style/CSS/Overview.en.html
    thumb: ./images/css.png
  - javascript:
    title: JavaScript
    url: https://tc39.es/ecma262/
    thumb: ./images/javascript.png
services:
  - software:
    title: Enterprise Application Development
    content: These are applications designed to integrate computer systems that run all phases of an enterprise's operations to ease integration, collaboration and monitoring.
      Your application can have a custom or specific requirement and we can help you achieve it.
    thumb: ./images/service/software.png
  - internet:
    title: Web Application Development
    content: It allows you to have application that is data driven and can be a management system, payment portal, ecommerce store, reservation system, helpdesk support and more.
      We can help you develop web applications to serve your customers or organization operations.
    thumb: ./images/service/internet.png
  - technical:
    title: Software and Desktop Troubleshooting
    content: Are you having problems with trying to install a program or applications in your Windows Operating System and Computer?
      We can help you fix it by diagnosing and finding out the source of problem and use our experience of software and desktop setup to help resolve the problem.
    thumb: ./images/service/technical-support.png
  - consultancy:
    title: Software and Web Consultancy
    content: You want to configure your computer's environment with softwares and looking for a fit?
      We can give you advices on many software using our experience in installation, testing and usage and then help get your computer ready with softwares for use and ease of operations.
    thumb: ./images/service/consulting.png
---

    <header class="page-header container-fluid">
      <h1 class ="display-5 text-center">Me & <img src ="./images/big-v.png" alt ="Volunux"/></h1>
      <div class="description">
        <p><b>I am Yusuf</b>, a graduate of Information Science; my Alma mater is Federal University of Technology, Minna, Nigeria. I specialize in web application development using diverse technologies. I am currently performing the National Youth Corp Service and serving in Kaduna State.
        You can find me on Github <a href="https://www.github.com/volunux">@Volunux</a>. </p>
        <p>Volunux aims to provide technology solutions to individuals, businesses, corporations and states ranging from small to large using engineering principles and methods.
          We believe in architecting and developing applications that serve both the needs of the user and fulfill the culture, principles, functional and non-functional requirements that make up a good software which should be extensible, reliable, maintainable and usable.
        At Volunux, The art of building, innovation, problem solving, creativity and <strong>Engineering</strong> is our culture and is embedded in the way we work daily.</p>
      </div>
    </header>


      <div class="container-fluid services">
        <h2 class="display-6 text-center"> Me & <img src ="./images/big-v.png" alt ="Volunux"/> do</h2>
        <div class="row">
        {% for item in page.services %}

          <div class="col-sm-6">
          <div class="card service-item text-center">
            <div class="row g-0">
              <div class="col-md-2">
                <img src="{{item.thumb}}" class="img-fluid">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h3 class="card-title">{{item.title}}</h3>
                  <p class="card-text"> {{item.content}} </p>
                </div>
              </div>
            </div>
          </div>
          </div>

        {% endfor %}
          </div>      
        </div>


    <div class="container-fluid technologies">
      <h2 class ="display-6 text-center">Technologies I & <img src ="./images/big-v.png" alt ="Volunux"/> use </h2>
      <div class="row">

        {% for item in page.technologies %}
          <div class="col-lg-3 col-md-4 col-sm-6 item text-center">
            <img src="{{item.thumb}}" class="img-fluid">
            <h3 class="feature-title">{{item.title}}</h3>
            <a rel="nofollow" href ="{{item.url}}" class="btn btn-primary learn-more">Learn More</a>
          </div>
        {% endfor %}


  </div>
</div>